In [1]:
import pandas as pd
import requests 
import json
from pandas import json_normalize
from pymongo import MongoClient

In [2]:
com = MongoClient("localhost:27017")

In [3]:
com

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
com.list_database_names()

['admin', 'config', 'ironhack', 'local']

In [5]:
db = com.get_database("ironhack")

In [6]:
compa = db.get_collection("companies")

In [7]:
compa

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'companies')

In [8]:
df = pd.DataFrame(list(compa.find()))

In [9]:
df

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,...,"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN
2,52cdef7c4bab8bd675297d8c,Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],NaN,NaN,NaN,NaN
3,52cdef7c4bab8bd675297d8d,Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,...,"[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None
4,52cdef7c4bab8bd675297d8e,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[],NaN,NaN,,"{'valuation_amount': 104000000000, 'valuation_..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18796,52cdef7f4bab8bd67529c6f6,Adhunk,adhunk,http://www.crunchbase.com/company/adhunk,http://www.adhunk.com,http://blog.adhunk.com,http://blog.adhunk.com/feed,,advertising,3.0,...,"[{'description': 'Indian Office', 'address1': ...",[],[],[],[{'external_url': 'http://www.hubpages.in/inte...,[],NaN,NaN,None,None
18797,52cdef7f4bab8bd67529c6f7,AfterLogic,afterlogic,http://www.crunchbase.com/company/afterlogic,http://www.afterlogic.com,,,afterlogic,software,NaN,...,"[{'description': 'Livingston', 'address1': 'P....",[],[],"[{'available_sizes': [[[150, 137], 'assets/ima...",[],[],NaN,NaN,None,None
18798,52cdef7f4bab8bd67529c6f8,goBookmaker,gobookmaker,http://www.crunchbase.com/company/gobookmaker,http://www.gobookmaker.com,http://blog.gobookmaker.com,,gobookmaker,web,NaN,...,[],[],[],"[{'available_sizes': [[[150, 80], 'assets/imag...",[],[],NaN,NaN,None,None
18799,52cdef7f4bab8bd67529c6f9,EnteGreat Solutions,entegreat-solutions,http://www.crunchbase.com/company/entegreat-so...,,,,,software,NaN,...,"[{'description': '', 'address1': '', 'address2...",[],[],[],[],[],NaN,NaN,None,None
18800,52cdef7f4bab8bd67529c6fa,EnteGreat,entegreat,http://www.crunchbase.com/company/entegreat,http://www.entegreat.com,,,,enterprise,NaN,...,"[{'description': '', 'address1': '1900 Interna...",[],[],[],[],[],NaN,NaN,None,None

In [10]:
df["offices"][3]

[{'description': None,
  'address1': '135 Mississippi St',
  'address2': '',
  'zip_code': '94107',
  'city': 'San Francisco',
  'state_code': 'CA',
  'country_code': 'USA',
  'latitude': 37.764726,
  'longitude': -122.394523}]

In [11]:
len(df.columns)

42

In [12]:
pd.set_option('display.max_columns', None)

In [13]:
df1 = df[["name", "category_code", "number_of_employees", "offices", "ipo", "founded_year", "description", "total_money_raised",   ]]

In [14]:
df1

,name,category_code,number_of_employees,offices,ipo,founded_year,description,total_money_raised
0,Wetpaint,web,47.0,"[{'description': '', 'address1': '710 - 2nd Av...",NaN,2005.0,Technology Platform Company,$39.8M
1,AdventNet,enterprise,600.0,"[{'description': 'Headquarters', 'address1': '...",NaN,1996.0,Server Management Software,$0
2,Zoho,software,1600.0,"[{'description': 'Headquarters', 'address1': '...",NaN,2005.0,Online Business Apps Suite,$0
3,Digg,news,60.0,"[{'description': None, 'address1': '135 Missis...",None,2004.0,user driven social content website,$45M
4,Facebook,social,5299.0,"[{'description': 'Headquarters', 'address1': '...","{'valuation_amount': 104000000000, 'valuation_...",2004.0,Social network,$2.43B
...,...,...,...,...,...,...,...,...
18796,Adhunk,advertising,3.0,"[{'description': 'Indian Office', 'address1': ...",None,2009.0,Online Admanager,$0
18797,AfterLogic,software,NaN,"[{'description': 'Livingston', 'address1': 'P....",None,2002.0,.NET Email Components and Webmail,$0
18798,goBookmaker,web,NaN,[],None,NaN,Create your own sportsbook,$0
18799,EnteGreat Solutions,software,NaN,"[{'description': '', 'address1': '', 'address2...",None,NaN,,$0
18800,EnteGreat,enterprise,NaN,"[{'description': '', 'address1': '1900 Interna...",None,2000.0,,$0

In [15]:
df1["offices"][2][0]["country_code"]

'USA'

In [16]:
df1.shape

(18801, 8)

In [17]:
countries=[]
for i in range(df1.shape[0]):
    try:
        countries.append(df1["offices"][i][0]["country_code"])
    except:
        pass

In [18]:
print(list(dict.fromkeys(countries)))

['USA', 'ISR', 'GBR', 'LUX', 'CAN', 'RUS', 'DEU', 'IRL', 'FRA', 'FIN', 'NLD', 'CHE', 'KOR', 'ITA', 'JPN', 'AUS', 'SWE', 'BRA', 'SGP', 'ESP', 'DNK', 'CHN', 'MYS', 'ZAF', 'IDN', 'IND', 'AFG', 'BEL', 'DOM', 'CZE', 'NZL', 'THA', 'GIN', 'CYP', 'PRT', 'HKG', 'ARG', 'ROM', 'EGY', 'QAT', 'POL', 'AUT', 'MLT', 'JOR', 'MTQ', 'NOR', 'BGR', 'ARE', 'TUR', 'MUS', 'LVA', 'CHL', 'UKR', 'ARM', 'MEX', 'EST', 'TWN', 'NIC', 'PAK', 'BRB', 'ANT', 'TUN', 'UMI', 'SAU', 'PHL', 'CRI', 'GRC', 'VGB', 'ISL', 'LTU', 'PER', 'NGA', 'GIB', 'SVN', 'URY', 'HUN', 'BGD', 'KEN', 'MKD', 'VNM', 'HRV', 'BIH', 'CIV', 'SDN', 'MAR', 'BMU', 'LIE', 'BOL', 'LBN', 'AZE', 'COL', 'CYM', 'LKA', 'CSS', 'LAO', 'REU', 'ARA', 'PRI', 'ATG', 'OMN', 'KAZ', 'BLR', 'IOT', 'UZB', 'VEN', 'ALB', 'GHA', 'IRQ']

In [19]:
df1

,name,category_code,number_of_employees,offices,ipo,founded_year,description,total_money_raised
0,Wetpaint,web,47.0,"[{'description': '', 'address1': '710 - 2nd Av...",NaN,2005.0,Technology Platform Company,$39.8M
1,AdventNet,enterprise,600.0,"[{'description': 'Headquarters', 'address1': '...",NaN,1996.0,Server Management Software,$0
2,Zoho,software,1600.0,"[{'description': 'Headquarters', 'address1': '...",NaN,2005.0,Online Business Apps Suite,$0
3,Digg,news,60.0,"[{'description': None, 'address1': '135 Missis...",None,2004.0,user driven social content website,$45M
4,Facebook,social,5299.0,"[{'description': 'Headquarters', 'address1': '...","{'valuation_amount': 104000000000, 'valuation_...",2004.0,Social network,$2.43B
...,...,...,...,...,...,...,...,...
18796,Adhunk,advertising,3.0,"[{'description': 'Indian Office', 'address1': ...",None,2009.0,Online Admanager,$0
18797,AfterLogic,software,NaN,"[{'description': 'Livingston', 'address1': 'P....",None,2002.0,.NET Email Components and Webmail,$0
18798,goBookmaker,web,NaN,[],None,NaN,Create your own sportsbook,$0
18799,EnteGreat Solutions,software,NaN,"[{'description': '', 'address1': '', 'address2...",None,NaN,,$0
18800,EnteGreat,enterprise,NaN,"[{'description': '', 'address1': '1900 Interna...",None,2000.0,,$0

In [20]:
# We filter into three datra frames by coutry of choice
com_in_counts = []
for i in range(df1.shape[0]):
    try:
        if df1["offices"][i][0]["country_code"] in ["ESP"]:
            com_in_counts.append(df1["name"][i])
            df_ESP = df1.loc[df['name'].isin(com_in_counts)]

    except:
        pass   
    
com_in_counts = []
for i in range(df1.shape[0]):
    try:
        if df1["offices"][i][0]["country_code"] in ["DEU"]:
            com_in_counts.append(df1["name"][i])
            df_DEU = df1.loc[df['name'].isin(com_in_counts)]

    except:
        pass 
com_in_counts = []

for i in range(df1.shape[0]):
    try:
        if df1["offices"][i][0]["country_code"] in ["GBR"]:
            com_in_counts.append(df1["name"][i])
            df_GBR = df1.loc[df['name'].isin(com_in_counts)]

    except:
        pass

In [21]:
# Recuerda que querías hacerlo en loop
'''
for i in [df_ESP, df_GBR, df_DEU]:
    i=i.reset_index()
'''

'\nfor i in [df_ESP, df_GBR, df_DEU]:\n    i=i.reset_index()\n'

In [22]:
# We reset the index in chronological order 
df_ESP=df_ESP.reset_index().drop("index",1)
df_GBR=df_GBR.reset_index().drop("index",1)
df_DEU = df_DEU.reset_index().drop("index",1)

<ipython-input-22-fd660a3aa4e4>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_ESP=df_ESP.reset_index().drop("index",1)
<ipython-input-22-fd660a3aa4e4>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_GBR=df_GBR.reset_index().drop("index",1)
<ipython-input-22-fd660a3aa4e4>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_DEU = df_DEU.reset_index().drop("index",1)

In [23]:
df_ESP["offices"][2]

[{'description': 'HQ',
  'address1': 'La Rambla 140 4C',
  'address2': '',
  'zip_code': '08002',
  'city': 'Barcelona',
  'state_code': None,
  'country_code': 'ESP',
  'latitude': 41.3854855,
  'longitude': 2.1702872}]

In [24]:
cities=[]
for i in range(df_ESP.shape[0]):
    try:
        cities.append(df_ESP["offices"][i][0]["city"])
    except:
        pass

In [25]:
print(list(dict.fromkeys(cities)))

['', 'Madrid', 'Barcelona', 'Palma de Mallorca', 'Malaga', 'Terrassa', 'Adeje', 'A CoruÃ±a', 'Bilbao', 'Las Rozas', 'San Sebastián', 'Alcoy', 'Pozuelo de Alarcon', 'Rubi (Barcelona)', 'Tres Cantos, Madrid', 'Alicante', 'Valencia', 'Arrecife', 'Gelida', 'MatarÃ³ (Barcelona)', 'Gijon', 'Barakaldo', 'Torrelavega', 'Las Rozas (Madrid)', 'Las Rozaas', 'Zaragoza', 'Infiesto (Asturias)', 'Getafe', 'Brunete', 'Lugones', 'AlcalÃ¡ de Henares', 'Cerdanyola', 'LogroÃ±o', 'zaragoza', 'Sant Cugat del VallÃ©s', 'Alcala de Guadaira', 'Figueres, Girona', 'Vigo', 'Paterna (Valencia)', 'les Fonts - Barcelona', 'Marbella', 'Leon', 'madrid', 'CornellÃ\xa0 de Llobregat', 'Sant Cugat del VallÃ¨s', 'Santiago de Compostela', 'Las rozas, Madrid', 'Sabadell', 'LeÃ³n', 'Seville', 'Toledo', 'Paterna, Valencia', 'SalobreÃ±a, Granada', 'Teruel', 'Bellaterra']

In [31]:
by_cities = []
for i in range(df_ESP.shape[0]):
    try:
        if df_ESP["offices"][i][0]["city"] in ["Madrid"]:
            by_cities.append(df_ESP["name"][i])
            df_ESP_mad = df_ESP.loc[df_ESP['name'].isin(by_cities)]

    except:
        pass   
    
by_cities = []
for i in range(df_GBR.shape[0]):
    try:
        if df_GBR["offices"][i][0]["city"] in ["London"]:
            by_cities.append(df_GBR["name"][i])
            df_GBR_ldn = df_GBR.loc[df_GBR['name'].isin(by_cities)]

    except:
        pass   

by_cities = []
for i in range(df_DEU.shape[0]):
    try:
        if df_DEU["offices"][i][0]["city"] in ["Berlin"]:
            by_cities.append(df_DEU["name"][i])
            df_DEU_ber = df_DEU.loc[df_DEU['name'].isin(by_cities)]

    except:
        pass

In [34]:
df_ESP_mad = df_ESP_mad.reset_index().drop("index",1)
df_GBR_ldn = df_GBR_ldn.reset_index().drop("index",1)
df_DEU_ber = df_DEU_ber.reset_index().drop("index",1)

<ipython-input-34-34a0073dc5bd>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_ESP_mad = df_ESP_mad.reset_index().drop("index",1)
<ipython-input-34-34a0073dc5bd>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_GBR_ldn = df_GBR_ldn.reset_index().drop("index",1)
<ipython-input-34-34a0073dc5bd>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_DEU_ber = df_DEU_ber.reset_index().drop("index",1)

In [42]:
# We filter by number of employees now with a range between 10 and 200 
# Considering the companies dataframe is made of tech companies we do not care about other conditions
# Porque no se pueden hacer con variables

t = []
for j in [df_DEU_ber, df_ESP_mad, df_GBR_ldn]:
    
    by_employees = []

    for i in range(j.shape[0]):
        if 10 < j["number_of_employees"][i] < 160:
            by_employees.append(j["name"][i])
    
    t.append(by_employees)

In [44]:
df_DEU_ber_emp = df_DEU_ber.loc[df_DEU_ber['name'].isin(t[0])]

In [45]:
df_ESP_mad_emp = df_ESP_mad.loc[df_ESP_mad['name'].isin(t[1])]

In [49]:
df_GBR_ldn_emp = df_GBR_ldn.loc[df_GBR_ldn['name'].isin(t[2])]

In [48]:
df_ESP_mad_emp = df_ESP_mad_emp.reset_index().drop("index",1)
df_GBR_ldn_emp = df_GBR_ldn_emp.reset_index().drop("index",1)
df_DEU_ber_emp = df_DEU_ber_emp.reset_index().drop("index",1)

<ipython-input-48-229a99e2e0a5>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_ESP_mad_emp = df_ESP_mad_emp.reset_index().drop("index",1)
<ipython-input-48-229a99e2e0a5>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_GBR_ldn_emp = df_GBR_ldn_emp.reset_index().drop("index",1)
<ipython-input-48-229a99e2e0a5>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_DEU_ber_emp = df_DEU_ber_emp.reset_index().drop("index",1)

In [50]:
df_DEU_ber_emp

,name,category_code,number_of_employees,offices,ipo,founded_year,description,total_money_raised
0,Plazes,web,15.0,"[{'description': None, 'address1': 'Monbijoupl...",None,2006.0,Location Based Microblogging,€3.7M
1,Qiro,mobile,15.0,"[{'description': '', 'address1': 'Pfuelstraße ...",None,2006.0,None,$0
2,imedo,health,15.0,"[{'description': '', 'address1': 'Karl-Liebkne...",None,2007.0,None,$0
3,gate5,mobile,40.0,"[{'description': None, 'address1': '', 'addres...",None,1999.0,None,€11.5M
4,mokono,advertising,15.0,"[{'description': 'Main office', 'address1': 'O...",None,2006.0,Enabling bloggers to generate ad revenue,$0
5,plista,advertising,100.0,"[{'description': 'Headquarter', 'address1': 'T...",None,2008.0,recommendation and advertising network,$3.8M
6,15Talents,consulting,12.0,"[{'description': '15Talents GmbH & Co. KG', 'a...",None,2008.0,Student Outsourcing,$0
7,Ableton,software,100.0,"[{'description': 'Ableton AG', 'address1': 'Sc...",None,1999.0,,$0
8,AUPEO!,web,25.0,"[{'description': 'Berlin', 'address1': 'Alexan...",None,2008.0,Personal radio,$0
9,AUPEO!,web,25.0,"[{'description': 'Berlin', 'address1': 'Alexan...",None,2008.0,Personal radio,$0
10,ResearchGate,social,74.0,"[{'description': 'HQ', 'address1': 'Invalidens...",None,2008.0,The professional network for scientists.,$35M
11,txtr,hardware,20.0,"[{'description': 'Headquarters', 'address1': '...",None,2008.0,tools and services for digital reading,$0
12,TRIBAX,network_hosting,12.0,"[{'description': 'Head Office', 'address1': 'L...",None,2008.0,Social Network Community Provider,$0
13,Kaeuferportal,enterprise,21.0,"[{'description': 'Headquarters', 'address1': '...",None,2008.0,None,$0
14,Escapio,other,30.0,"[{'description': 'Escapio Berlin', 'address1':...",None,2004.0,,$0
15,servtag,mobile,12.0,"[{'description': 'Headquarter', 'address1': 'C...",None,2007.0,,$0
16,Panfu,games_video,20.0,"[{'description': 'Young Internet GmbH', 'addre...",None,2007.0,,$0
17,Tamundo,ecommerce,28.0,"[{'description': '', 'address1': 'Oranienburge...",None,2008.0,Social Marketplace for Collectibles,$0
18,My-Hammer,web,70.0,"[{'description': 'MY-HAMMER AG', 'address1': '...",None,2005.0,Handyman job portal,$3.2M
19,skobbler,mobile,70.0,"[{'description': 'Headquarters', 'address1': '...",None,2008.0,LBS and mobile navigation,$0
20,barcoo,mobile,12.0,"[{'description': 'HQ', 'address1': 'Waldemarst...",None,2008.0,for consumer transparency,$0
21,Moviepilot,web,43.0,"[{'description': 'German Headquarters', 'addre...",None,2007.0,Personalized movie recommendation,$7M
22,Webtrekk,advertising,25.0,"[{'description': 'World Headquarters', 'addres...",None,2003.0,Online Web Analytics,€1M

In [ ]:
for i in range(df_DEU_ber.shape[0]):
        if 10 < df_DEU_ber["number_of_employees"][i] < 160:
            by_employees.append(df_DEU_ber["name"][i])

In [41]:
df_DEU_ber[["number_of_employees", "name"]]

    number_of_employees             name
0                   8.0            headr
1                  15.0           Plazes
2                  15.0             Qiro
3                 300.0  VZnet Netzwerke
4                   6.0            acomo
..                  ...              ...
66                 43.0       Moviepilot
67                  NaN         Springer
68                200.0           Idealo
69                 25.0         Webtrekk
70                  8.0         Sauspiel

[71 rows x 2 columns]

In [39]:
10<df_DEU_ber["number_of_employees"][2]<200

True

False